@charset "UTF-8";

#joinform{
	width: 100vw;
	height: 95vh;
	display: flex;
	align-items: center;
}

#joinwrapper{
	width: 400px;
	height: auto;
	margin: auto;
}

#hd_h1{
	text-align: center;
}

.joinarea{
	width:390px;
	height: 70px;
}

.bt-id {
	display: block;
	padding: 0px 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 54px;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background-color: rgb(240, 99, 99);
	border: 0px none;
	cursor: pointer;
}