@charset "UTF-8";

#logo{
	margin:0 auto;
}

#joinform{
	width: 100vw;
	height: 95vh;
	display: flex;
	align-items: center;
}

#joinwrapper{
	width: 400px;
	height: auto;
	margin: auto;
}

#hd_h1{
	text-align: center;
	color:#666666;
	letter-spacing:1px;
}

.joinarea{
	color:#666666;
	width:390px;
	height: 70px;
}

.bt-id {
	display: block;
	padding: 10px 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 54px;
	border-radius: 3px;
	color: rgb(255, 255, 255);
	background-color: rgb(240, 99, 99);
	border: 0px none;
	cursor: pointer;
	margin-top:10px;
}

.check-text{
	font-size : 11px;
	color : #666666;
}
.join-text{
	font-size : 14px;
	color : #666666;
}

.btn_close{
	 text-decoration:none;
	 font-size:12px; 
}
