@charset "UTF-8";

#mypage{
	max-width:1140px;
	margin: auto;
}

#tabs{
	border: none;
}
#tabsli{
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-bottom: 1px solid black;
	border-radius: 0px;
}
#1, #2, #3{
	background:white;
}

.ina{
	background: white;
}

.tabimg{
	width: 50px;
	height: 50px;
	
}

#mypagemy{
	display:flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	height: auto;
	border: 1px solid rgb(240,99,99);
	width: auto;
	max-width: 1110px;
}

#myuserimg{
	flex-basis: 45%;
}

#myuserimg2{
	padding: 30px;
	object-fit:cover;
	width: 100%;
	height: 100%;
}

#myuserinfo{
	flex-basis: 45%;
}

#mypagecouple{
	display:flex;
	align-items: center;
	justify-content: space-around;
	margin: auto;
	height: auto;
	border: 1px solid rgb(240,99,99);
	width: auto;
	max-width: 1110px;
}

#mycoupleimg{
	flex-basis: 45%;
}

#mycoupleimg2{
	padding: 50px;
	object-fit:cover;
	width: 100%;
	height: 100%;
}

#mycoupleinfo{
	flex-basis: 45%;
}